<div class="container-fluid bg-light" id="contenitore-portfolio" *ngIf="(ottieniDati$ | async) else loading">

  <div id="contenitore-immagine">
    <div id="immagine-esterna" class="bg-light"></div>
    <div id="immagine-interna" [ngStyle]="{'background': 'url(' + datiPortfolio.url_immagine + ')', 'background-size': 'cover'}"></div>
  </div>

  <div id="contenitore-dati-portfolio" class="container-fluid">



    <div class="row text-center text-secondary">
      <div class="col">
        <span *ngIf="visualizza == 'nome'">
          <h4>Hi, my name is</h4>
        </span>
        <span *ngIf="visualizza == 'email'">
          <h4>My email adress is</h4>
        </span>
        <span *ngIf="visualizza == 'compleanno'">
          <h4>My birthday is</h4>
        </span>
        <span *ngIf="visualizza == 'indirizzo'">
          <h4>My adress is</h4>
        </span>
        <span *ngIf="visualizza == 'telefono'">
          <h4>My phone number is</h4>
        </span>
        <span *ngIf="visualizza == 'password'">
          <h4>My password is</h4>
        </span>
      </div>
    </div>



    <div class="row text-center mt-4 datiPortfolio">
      <div class="col">
        <span *ngIf="visualizza == 'nome'">
          {{datiPortfolio.nome}}&nbsp;{{datiPortfolio.cognome}}
        </span>
        <span *ngIf="visualizza == 'email'">
          {{datiPortfolio.email}}
        </span>
        <span *ngIf="visualizza == 'compleanno'">
          {{datiPortfolio.data_di_nascita |  date:'dd/MM/yyyy'}}
        </span>
        <span *ngIf="visualizza == 'indirizzo'">
          {{datiPortfolio.numero}}&nbsp;{{datiPortfolio.strada}}
        </span>
        <span *ngIf="visualizza == 'telefono'">
          {{datiPortfolio.telefono}}
        </span>
        <span *ngIf="visualizza == 'password'">
          {{datiPortfolio.password}}
        </span>
      </div>
    </div>


    <div class="row" id="icone-portfolio">
      <div class="col-3">
      </div>
      <div class="col-1">
        <span (mouseover)="visualizza = 'nome'"><i class="bi bi-person-circle icona-portfolio"></i></span>
      </div>
      <div class="col-1">
        <span (mouseover)="visualizza = 'email'"><i class="bi bi-envelope icona-portfolio"></i></span>
      </div>
      <div class="col-1">
        <span (mouseover)="visualizza = 'compleanno'"><i class="bi bi-calendar3 icona-portfolio"></i></span>
      </div>
      <div class="col-1">
        <span (mouseover)="visualizza = 'indirizzo'"><i class="bi bi-map icona-portfolio"></i></span>
      </div>
      <div class="col-1">
        <span (mouseover)="visualizza = 'telefono'"><i class="bi bi-telephone icona-portfolio"></i></span>
      </div>
      <div class="col-1">
        <span (mouseover)="visualizza = 'password'"><i class="bi bi-lock icona-portfolio"></i></span>
      </div>
      <div class="col-3">
      </div>
    </div>


  </div>



</div>
<div #loading></div>