#contenitore-portfolio{
    height: 100vh;
}

#contenitore-immagine{
    height: 30%;
    position: relative;
    border-bottom: 1px solid darkgrey;
}   

#immagine-esterna{
    border-radius: 50%;
    border: 1px solid darkgrey;
    width:230px;
    height:230px;
    position:fixed;
    top:60px;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}


#immagine-interna{
    border-radius: 50%;
    width:215px;
    height:215px;
    position:fixed;
    top:68px;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  background-size: cover;
  padding:1em;
    
}

#contenitore-dati-portfolio{
margin-top:8em;

}

#icone-portfolio{
    margin-top:6em;
}

.icona-portfolio{
    font-size: 3rem; 
    color: lightgray;
}

.icona-portfolio:hover{
    color:cornflowerblue;
    border-top: 3px solid cornflowerblue;
}